[Unit]
Description=Odorobo Agent
Documentation=https://github.com/FyraStack/odorobo
After=network-online.target
Wants=network-online.target
#Requires=odorobo-agent.service

[Service]
Type=simple
User=root
Group=root

RuntimeDirectory=odorobo/
RuntimeDirectoryMode=1775
LogsDirectory=odorobo
LogsDirectoryMode=0750
ConfigurationDirectory=odorobo/
ConfigurationDirectoryMode=0750

ExecStart=/usr/bin/odorobo-agent


Restart=always
RestartSec=3s
RestartPreventExitStatus=0
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
