[Unit]
Description=Odorobo Cloud Hypervisor VM (%i)
Documentation=https://www.cloudhypervisor.org/docs/
After=network-online.target
Wants=network-online.target
#Requires=odorobo-agent.service

# If this unit fails, don't take down other VMs
OnFailure=odorobo-ch-failed@%i.service

[Service]
Type=simple
User=root
Group=root

LogsDirectory=odorobo
LogsDirectoryMode=0750
ConfigurationDirectory=odorobo/vms/%i
ConfigurationDirectoryMode=0750

ExecStartPre=/usr/local/libexec/odorobo-preflight %i
# the actual VM process
ExecStart=/usr/bin/cloud-hypervisor -v \
    --api-socket /run/odorobo/vms/%i/ch.sock

ExecStartPost=/usr/local/libexec/odorobo-postflight %i
ExecStop=/usr/local/libexec/odorobo-cleanup %i

Restart=on-failure
RestartSec=3s
RestartPreventExitStatus=0
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
